<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>milk</string>
	<string>oil</string>
	<string>potato</string>
	<string>cucumber</string>
	<string>water</string>
	<string>bread</string>
	<string>eggs</string>
	<string>apples</string>
	<string>ice-cream</string>
</array>
</plist>
